@import "//fonts.fontstorage.com/import/comfortaa.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'sans-serif';
}
.container {
    width: 1600px;
    height: 900px;
}
.header{
    border-bottom: 5px solid white;
}
.header__inner {
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: #758374;
}
.header__inner img{
    width: 350px;
    height: 90px;
    margin: 0 auto;
}
.container_main{
    width: 1600px;
    height: 1100px;
}
.bio__inner{
    height: 1100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.great_color{
    color: #899b87;
}
.text_block{
    width: 650px;
    height: 550px;
    font-size: 35px;
    word-spacing: 10px;
    color: white;
    margin-top: 90px;
    line-height: 45px;
    margin-left: 40px;
    text-indent: 20px;
}
.btn_one{
    border: 2px solid;
    border-radius: 35px;
    margin-top: 100px;
    width: 500px;
    height: 100px;
    background: transparent;
    color: #899b87;  
    font-size: 35px;
    font-style: bold;
    margin-left: 150px;
    box-shadow: 0 0 10px 10px #b0b0dc;

}
.moment{
    margin-top: 30px;
    color: #899b87;
    margin-left: 40px;
    font-size: 40px;
    width: 950px;
    position: absolute;
}   
.click{
   margin-top: 80px;
   display: flex;
   justify-content: center;
   padding-bottom: 30px;
}
.click img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    position: absolute;
}
.picture img {
    width: 750px;
    height: 870px;

}
.portfolio__inner{
    border-top: 5px solid white;
    background-color: #758374;
    border-bottom: 5px solid white ;
    height: 3190px;    
}
.portfolio__inner h1 {
    color: white;
    width: 430px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 50px;
}
.container_portfolio {
    width: 1600px;
    height: 3050px;
}

.photos{
    color: white;
    height: 1200px;
}
.photos h3 {
    display: flex;
    width: 150px;
    margin: 0 auto;

}
.look {
    border: 4px solid white;
    border-radius: 13px;
    width: 650px;
    height: 700px;
    margin-bottom: 60px;
}
.look h3 {
    margin: 0auto;
    width: 200px;
    font-size: 45px;
}
.look img{
    margin-left: 60px;
    width: 530px;
    height: 630px;
    padding-top: 20px;

}
.individ{
    border: 4px solid white;
    border-radius: 13px;
    width: 650px;
    height: 700px;
    margin-bottom: 60px;
}
.individ h3 {
    margin-top: 5px;
    font-size: 45px;
    width: 380px;

}
.individ img{
    margin-left: 60px;
    width: 530px;
    height: 630px;
    padding-top: 20px;
}
.photos_one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.pary {
    border: 4px solid white;
    border-radius: 13px;
    width: 650px;
    height: 700px;
    margin-bottom: 60px;

}
.pary h3 {
    padding-left: 15px;
    margin-top: 10px;
    font-size: 45px;
    width: 200px;

}
.pary img {
    margin-left: 60px;
    width: 530px;
    height: 630px;
    padding-top: 20px;

}
.fam {
    border: 4px solid white;
    border-radius: 13px;
    width: 650px;
    height: 700px;
    margin-bottom: 60px;

}
.fam h3 {
    padding-left: 15px;
    margin-top: 10px;
    font-size: 45px;
    width: 520px;
}
.fam img {
    margin-left: 60px;
    width: 530px;
    height: 630px;
    padding-top: 20px;

}
.photos h3{
    color: white;

}
.my_portfolio {
    background-color: black;
    width: 1600px;
    height: 940px;
    margin-top: 140px;
}
.name_vid {
    color: white;
    width: 480px;
    padding-top: 50px;
    margin: 0 auto;

}
.name_vid h1{
    font-size: 50px;
    width: 480px; 
    margin: 0 auto;   
}
.slide_block {
    border: 4px solid #758374;
    width: 1600px;
    height: 680px;
    margin-top: 50px;
    border-right: none;
    border-left: none;
    font-size: 27px;
}
.footer_inner {
    width: 1600px;
    height: 550px;
    border-top: 4px solid white;
    background-color: #758374;
    color: white;
}
.footer_block{
    display: flex;
    justify-content: space-around;
}
.footer h3 {
    padding-top: 30px ;
    font-size: 35px;
}
.call h3{
    margin-left: 40px;
}
.social{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: -15px;

}

.social img {
    width: 120px;
    height: 120px;
    margin-left: 55px;
}
.gifka img{
    width: 600px;
    margin-top: 70px;
    margin-left: 50px;

}
.maps {
    margin-top: 50px;
}
.by{
    width: 1600px;
    height: 60px;
    background-color: black;
}
.by_inner {
    width: 250px;
    margin: 0 auto;
    color: white;
    font-size: 25px;
    padding-top: 10px;
}   
.found h3 {
    margin-left: 60px;
    width: 350px;
}